version: '3.8'

services:
  application:
    container_name: course-currency-application
    build: 'application'
    ports:
      - 8080:8080
    networks:
      monitoring:
        aliases:
          - application
  grafana:
    container_name: course-currency-grafana
    build: 'environment/grafana'
    ports:
      - 3000:3000
    volumes:
      - ./volumes/grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      monitoring:
        aliases:
          - grafana
    depends_on:
      - prometheus
  prometheus:
    container_name: course-currency-prometheus
    image: prom/prometheus
    user: "$UID:$GID"
    ports:
      - 9090:9090
    volumes:
      - ./environment/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./volumes/prometheus:/prometheus
    networks:
      monitoring:
        aliases:
          - prometheus          
    depends_on:
      - application

networks:
  monitoring:
